.home {
    background-color: rgba(0, 128, 128, 0.5);
}

.home h1 {
    padding-top: 50px;
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: italic;
    letter-spacing: 1px;
}

.selected-projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.project {
    margin: auto;
}

.selected-projects img {
    width: 400px;
    margin-bottom: 40px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1250px) {
    .selected-projects img {
        width: 500px;
    }
}

@media (max-width: 1050px) {
    .selected-projects {
        grid-template-columns: 1fr;
    }

    .selected-projects img {
        width: 600px;
    }
}

@media (max-width: 640px) {
    .selected-projects img {
        width: 450px;
    }
}