.home {
  background-color: rgba(231, 233, 233, 0.5);
  min-height: calc(100vh - 100px);
}

.selected-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 50px;
  width: 75%;
  margin: auto;
}

.project {
  margin: auto;
}

.selected-projects img {
  width: 400px;
  margin-bottom: 40px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
}

.selected-projects img:hover {
  transform: translateY(-5px);
}

@media (max-width: 1800px) {
  .selected-projects {
    width: 90%;
  }
}

@media (max-width: 1450px) {
  .selected-projects {
    width: 100%;
  }
}

@media (max-width: 1350px) {
  .selected-projects {
    grid-template-columns: 1fr 1fr;
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .selected-projects {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .selected-projects {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .selected-projects img {
    width: 300px;
  }
}
