.home h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.selected-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project {
    margin: auto;
}

.selected-projects img {
    width: 600px;
    border: black 1px solid;
    margin-bottom: 40px;
}

@media (max-width: 1250px) {
    .selected-projects img {
        width: 500px;
    }
}

@media (max-width: 1050px) {
    .selected-projects {
        grid-template-columns: 1fr;
    }

    .selected-projects img {
        width: 600px;
    }
}

@media (max-width: 640px) {
    .selected-projects img {
        width: 450px;
    }
}