.selected-project {
    background-color: rgba(0, 128, 128, 0.5);
    padding-bottom: 30px;
}

.project-info {
    display: flex;
}

.project-info img {
    width: 600px;
    border: black 1px solid;
    margin: 30px;
    transition: transform 0.2s;
}

.project-info img:hover {
    transform: translateY(-5px);
}

.project-details {
    margin: 30px;
    text-align: left;
    padding-left: 10px;
}

.project-details li {
    margin-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(26, 26, 26);
}

@media (max-width: 900px) {
    .project-info img {
        width: 450px;
    }
}

@media (max-width: 750px) {
    .project-info {
        display: block;
        text-align: center;
    }

    .project-info img {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .project-details {
        margin: 0px;
    }
}

@media (max-width: 400px) {
    .project-info img {
        width: 350px;
    }
}