.topbar {
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
}

.topbar h1 {
    color: teal;
    margin-left: 30px;
    font-family: "Tangerine", cursive;
    font-size: 70px;
    font-weight: 700;
    font-style: normal;
}

.topbar a {
    text-decoration: none;
}